<html>
    <head>
        <title>Wer das liest ist doof</title>
    </head>
    <body>
      <h1>I'm not a header,no no </h1>
      <h2>I'm the better headline</h2>

        <div>
        <h2> Welcome, you fools </h2>
        <p>Hi there!</p>
        <p>It works!</p>
        </div>

        <div>
        <h2> Puns for the hons! </h2>
        <p> Hey, this is awesome possum. It's purrrrrfect. <br>I like ur ice :D -<strong>thx Sabrina</strong> <p>
          <p> For Everyone in my group (and the rest) who wants to get a song stuck in their head: <br> <a href="https://www.youtube.com/watch?v=PUCgC_TukKg">Click Me,I'm not clickbait, maybe :D</a>
        </div>

        <div>
        <h2> Limericks </h2>
        <p>   There was a young lady of Niger <br> who smiled as she rode on a tiger; <br> with the lady inside, <br> and the smile on the face of the tiger.
        <p> <em>thx Yvonne </em>
        </div>

    </body>
</html>
